form{
    border: 1px solid black;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    margin-left: 500px;
    margin-top: 200px;
    text-align: center;
    background-image: url("C:/Users/Mayuri Shinde/Desktop/CSS/image1/giphy.gif"); 
    font-size: 20px;
    color: blueviolet;
   box-shadow: 10px 10px 30px rgba(0, 0, 255, 0.836);
}
input[type="text"],input[type="password"]{
    width: 200px;
    height: 50px;
    border: 1px solid blue;
    border-radius: 50px;
    margin: 10px ;
    outline: none;
}
input[type="submit"]
{
    width: 100px;
    height: 50px;
    border:2px solid red ;
    border-radius: 52px;
    outline: none;   
}
input[type="submit"]:hover{
    background-color: salmon;
    cursor: pointer;
}
body{
    background-image: url("C:/Users/Mayuri Shinde/Desktop/CSS/image1/maze-4560389__340.jpg");
    background-size: cover;
}