<ul class="nav  bg-primary text-dark">
    <li class="nav-item">
        <a class="nav-link active text-dark" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active text-dark" routerLink="/user">User</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active text-dark " routerLink="/gitusers">GitUser</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active text-dark " routerLink="/movies">Movies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active text-dark " routerLink="/employees">Employees</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active text-dark " routerLink="/add-employee">Add-Employee</a>
    </li>
</ul>