<div class="col-md-4 offset-md-4">
        <input type="search" name="search"[(ngModel)]='search' placeholder="Enter Id" class="form-control">

</div>
    <div class="container mt-5">
    <table class="table table-bordered table-hover">
        <thead class="bg-white">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Body</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let posts of postService.post'>
                <td>{{posts.id}}</td>
                <td>{{posts.title}}</td>
                <td>{{posts.body}}</td>
                <td>
                    <button class="btn btn-outline-danger" (click)="deletePost(post)">Delete</button>
                </td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                        (click)="selectPost(post)">
                        Update
                    </button>

                    <!-- Modal -->
                    <div class="modal fade text-dark" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Update Post</h5>
                                    <button type="button" class="close" data-dismiss="modal" 
                                    (click)="employeeService.getData()" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                        <div class="col-md-5 offset-md-4 mt-5 card card-body">
                                                <h3 class="bottom-bordered">Add Posts</h3>
                                            <form  #postForm = "ngForm" (ngSubmit) ="submitForm(postForm)">
                                                <div  class="form-group">
                                                    <label for="userId">User Id</label>
                                                    <input type="text" name="userId" placeholder="Enter User Id" 
                                                    class="form-control mb-3" #userId="ngModel" ngModel>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label for="title">Title</label>
                                                    <input type="text" name="title" id="title" class="form-control" 
                                                    placeholder="Enter Title Here" #title="ngModel" ngModel>
                                                </div>
                                            
                                                <div class="form-group">
                                                        <label for="body">Body</label>
                                                        <input type="text" name="body" id="body" class="form-control" 
                                                        placeholder="Enter Body Here" #body="ngModel" ngModel>
                                                    </div>
                                                <button type="reset" class="btn btn-secondary">Reset</button>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </form>
                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>