<div class="container mt-4">
        <table class="table table-bordered table-hover" style="background-color: burlywood;">
            <thead class="bg-dark text-white">
                <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody style="color: blue;">
                <tr *ngFor='let customer of customers; index as i'>
                    <td>{{i+1}}</td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.email}}</td>
                    <td>{{customer.phone}}</td>
                </tr>
            </tbody>
        </table>  
    </div>