<div class="card card-body col-md-3 mt-5 float-left" *ngFor="let product of productService.products">
  <img [src]="product.productImage" class="card-img-top" alt="image" style="height:200px;">
  <h4>{{product.productName}}</h4>
  <p>{{product.prodxuctPrice | currency : 'INR'}} </p>
  <p>{{product.productDetails}}</p>
  <div class="btn-group">
    <button type="submit" class="btn btn-outline-warning" (click)="deleteProduct(product)">Delete</button>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" 
    (click)="selectProduct(product)">
      Update
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <h3 class="bottom-bordered">Add Product</h3>
              <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
              
              <input type="hidden" name="pk" id="pk" #pk="ngModel" [(ngModel)]="selectedProduct.pk" class="form-control">
              
                <div class="form-group">
                  <label for="productName">Product Name</label>
                  <input type="text" name="productName" placeholder="Enter Product Name" class="form-control mb-3"
                    #productName="ngModel" [(ngModel)]="selectedProduct.productName">
                </div>
                <div class="form-group">
                  <label for="productCategory">Product Category</label><br>
                  <select name="productCategory" id="productCategory" class="form-control" #productCategory="ngModel"
                   [(ngModel)]="selectedProduct.productCategory">
                    <option value="" class=""></option>
                    <option value="fashion">Fashion</option>
                    <option value="electronics">Electronics</option>
                    <option value="kitchen">Kitchen</option>
                    <option value="home">Home</option>
                    <option value="beauty">Beauty</option>
                    <option value="groceries">Groceries</option>
                    <option value="appliances">Appliances</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="productPrice">Product Price</label>
                  <input type="number" name="productPrice" id="productPrice" class="form-control"
                    placeholder="Enter Product Price" #productPrice="ngModel" [(ngModel)]="selectedProduct.productPrice">
                </div>
                <div class="form-group">
                  <label for="productDetails">Product Details</label>
                  <input type="text" name="productDetails" id="productDetails" class="form-control"
                    placeholder="Enter Product details" #productDetails="ngModel"
                     [(ngModel)]="selectedProduct.productDetails" style="height: 200px;">
                </div>
                <div class="form-group">
                  <label for="productImage">Product Name</label>
                  <input type="url" name="productImage" id="productImage" class="form-control" required="required"
                    placeholder="Enter ImageURL here" #productImage="ngModel" [(ngModel)]="selectedProduct.productImage">
                </div>
                <button type="reset" class="btn btn-secondary">Reset</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>