<div class="container mt-4">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
           <tr>
               <th>Index</th>
               <th>ID</th>
               <th>Name</th>
               <th>Age</th>
               <th>Degree</th>
               <th>Delete</th>
           </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of student; index as i"
            [ngClass]="{'bg-success': student.name.length>6,
            'bg-danger':student.name.length<6}"
            [ngStyle]="{'color': student.name.length >6? 'white':'blue'}">
                <td>{{i+1}}</td>
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.age}}</td>
                <td>{{student.degree}}</td>
                <td>
                    <button class="btn btn-primary" (click)='deleteStudent(student)'>
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf='flag; then trueBlock else falseBlock '></div>
<ng-template #trueBlock>This is True Block</ng-template>
<ng-template #falseBlock>This is False Block</ng-template>

<div [ngSwitch]='person'>
    <div *ngSwitchCase='"Smita"'>The person is Smita</div>
    <div *ngSwitchCase='"Aishwarya"'>The Person is Aishwarya</div>
    <div *ngSwitchCase='"Mayuri"'>The Person is MAyuri</div>
    <div *ngSwitchDefault> The Person is Default</div>
</div>

<div *ngIf='flag'>The Flag Is IF</div>