<div class="col-md-5 offset-md-5 mt-5 card card-body">
    <h4>Register Please!!!</h4>
    <form action="">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Name</span>
            </div>
            <input type="text" name="name" id="name" class="form-control">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Email</span>
            </div>
            <input type="email" name="email" id="email">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                    <span class="input-group-text">Passwordl</span>
            </div>
            <input type="password" name="password" id="password">
            
        </div>
        <div class="btn-group float-right">
            <button type="submit" class="btn btn-outline-primary">Register</button>
        </div>

    </form>
</div>
