<div class="mt-5 col-md-4 offset-md-4">
    <div class="alert alert-danger" *ngIf="error">{{error}}</div>
    <form #loginForm='ngForm' (ngSubmit)='login(loginForm)'>
        <input type="email" name="email" id="email" placeholder="enter email"
        #email='ngModel' ngModel class="form-control mb-3">
        <input type="password" name="password" id="password" placeholder="enter password"
        #password='ngModel' ngModel class="mb-3 form-control">
        <button type="submit" class="btn btn-outline-primary float-right">Login</button>
    </form>
</div>
